@model Diplom.Models.Trip

@{
    ViewData["Title"] = "Редактирование поездки";
}

<h1>@ViewData["Title"]</h1>
<hr />


<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label asp-for="Name" class="control-label">Назавание поездки</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="StartDate" class="control-label">Дата выезда</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="EndDate" class="control-label">Дата приезда</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Budget" class="control-label">Бюджет</label>
                <input asp-for="Budget"type="number" sted="0.01 " class="form-control" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="mt-4">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Отмена</a> 
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
